<!DOCTYPE html>
<html>
    <head>
        <title>Talent Trail</title>
    </head>
    
    <body>
        <h1>About Page</h1>
        <p>
            Talent Trail is a web-based career gap analysis tool that generates personalized reports 
        to help users pursue their professional goals. Users select a desired career and complete 
        a survey detailing their current skills. Talent Trail then produces a report that analyzes
        skill gaps and outlines steps toward achieving that career.
        </p>
        
        <p>
            Many people struggle to accurately evaluate their abilities and create a clear path toward 
        their ideal career. The process can be overwhelming and time-consuming, often involving 
        conflicting information from various sources. <br>
            <br>
            Talent Trail simplifies this process by aligning real-world career requirements from the  
        O*NET database with a user-filled survey, delivering a clear and actionable analysis.
        </p>

        <h2>Vision Statement</h2>
        <p>
            Talent Trail empowers users to explore careers by comparing their current qualifications 
        with industry expectations. Using occupational data from the O*NET database, the platform 
        generates a personalized gap analysis report that highlights match percentages and 
        identifies areas for growth.
        </p>

        <h3>Meet the Team</h3>
        <ul>
            <li><strong>Kassidy Flick</strong> (GitHub: `kflick3r`)</li>
            <li><strong>Lisa Wilder</strong> (GitHub: `Wilder407`)</li>
            <li><strong>Mark Olmscheid</strong> (GitHub: `Olmscheid`)</li>
            <li><strong>Sarah Suliman</strong> (GitHub: `sssuliman`)</li>
        </ul>
        <p>
            Developed by students at the University of Colorado Boulder, this project was created as 
        part of the CSPB 3308 Software Development and Methods course.
        </p>
    </body>
</html>  