<!DOCTYPE html>
<html>
    <head>
        <title>Career Survey</title>
    </head>
    <body>
        <h1>Top 10 Skills</h1>
        <h2>Self-Survey for {{ career_name }}</h2>
        <form method="post" action="/submit_survey">
            <ul>
                {% for skill, value, description in skills %}
                <li>
                    <span class="skill-name">{{ skill }}</span><div></div>
                    <span class="skill-desription">Description: {{ description }}</span>
                    <div class="rating">
                        {% for i in range(0, 8) %}
                            <label>
                                <input type="radio" name="rating_{{ loop.index0 }}" value="{{ i }}" required> {{ i }}
                            </label>
                        {% endfor %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <button type="submit">Submit Survey</button>
        </form>
    </body>
</html>