<!DOCTYPE html>
<html>
    <head>
        <title>Talent Trail</title>
    </head>

    <body>
        <h1>Select a Career to Explore:</h1>

        <form method="post" action="/survey">
            <select name="career" required>
                <option value="" disabled selected>Select a Career...</option>
                {% for code, title in careers %}
                    <option value="{{code}}">{{title}}</option>
                {% endfor %}
            </select>

            <button type="submit">Continue</button>
        </form>
    </body>
</html>